@model Rising.WebRise.Models.Reports.DayBook

@{
    ViewBag.Title = "DayBook";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">Day Book</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="new-user-info">

                    @using (Html.BeginForm("DayBook", "Report", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-2">
                                        @Html.LabelFor(m => m.Exchange, new { @class = "form-label" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.DropDownListFor(m => m.Exchange, new SelectList(new[] { " " }), new { @class = "form-control" })
                                    </div>
                                    <div class="col-md-2">
                                        @Html.LabelFor(m => m.Date, new { @class = "form-label" })
                                    </div>
                                    <div class="col-md-3">
                                        @Html.TextBoxFor(m => m.Date, null, new { @class = "form-control" , type = "date" })
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-2">
                                                @Html.LabelFor(m => m.Contract, new { @class = "form-label" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.TextBoxFor(m => m.Contract, null, new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#CodeFrom"><i class="ri-search-fill pr-0"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="c-inputs-stacked">
                                            @Html.CheckBoxFor(m => m.IncludeBfCf, new { @class = "" })
                                            @Html.LabelFor(m => m.IncludeBfCf, new { @class = "me-30", @style = "" })
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="box-footer">
                            <input type="submit" value="View" class="btn btn-primary pull-right" />
                            <a href="javascript:void(0);" class="btn btn-primary" onclick="history.go(-1);">Back</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

