@using Rising.WebRise.Models
@model FinancialLedgerInput

@{
    ViewBag.Title = "TrialBalanceInput";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="row">

    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">TRIAL BALANCE</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="new-user-info">
                                    <!--end card-header-->
                                    @using (Html.BeginForm("TrialBalance", "Financial", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        @Html.LabelFor(m => m.DateFrom, new { @class = "form-label", @style = "font-size: 14px;" })
                                                    </div>
                                                    <div class="col-md-3">
                                                        @Html.TextBoxFor(m => m.DateFrom, null, new { @Value = Model.DateFrom.ToString("yyyy-MM-dd"), @class = "form-control", @id = "date-end", @type = "date" })
                                                    </div>

                                                    <div class="col-md-2">
                                                        @Html.LabelFor(m => m.DateTo, new { @class = "form-label", @style = "font-size: 14px;" })
                                                    </div>
                                                    <div class="col-md-3">
                                                        @Html.TextBoxFor(m => m.DateTo, null, new { @Value = Model.DateTo.ToString("yyyy-MM-dd"), @class = "form-control", @id = "date-end", @type = "date" })
                                                    </div>
                                                    

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3">
                                                        @Html.LabelFor(m => m.Exchange, new { @class = "form-label" })
                                                    </div>
                                                    <div class="col-md-3">
                                                        @Html.DropDownListFor(m => m.Exchange, new SelectList(new[] { "NSE", "BSE", "ALL" }), new { @class = "form-control" })
                                                    </div>
                                                    <div class="col-md-2">
                                                        @Html.LabelFor(m => m.Branch, new { @class = "form-label" })
                                                    </div>
                                                    <div class="col-md-3">
                                                        @Html.DropDownListFor(m => m.Branch, new SelectList(new[] { "HO" }), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="row">
                                                   
                                                    <div class="col-md-3">
                                                        @Html.LabelFor(m => m.Group, new { @class = "form-label" })
                                                    </div>
                                                    <div class="col-md-3">
                                                        @Html.DropDownListFor(m => m.Group, new SelectList(new[] { "Reserve & Surplus", "Current Liabilities", "Investments", "Expenditure", "Capital" }), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        @Html.CheckBoxFor(m => m.OpeningBalance, new { @class = "" })
                                                        @Html.LabelFor(m => m.OpeningBalance, new { @class = "me-15", @style = "" })
                                                    </div>
                                                    <div class="col-md-5">
                                                        @Html.CheckBoxFor(m => m.IgnoreNilBalance, new { @class = "" })
                                                        @Html.LabelFor(m => m.IgnoreNilBalance, new { @class = "", @style = "me-15" })
                                                    </div>
                                                </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                                @Html.CheckBoxFor(m => m.ShowMargin, new { @class = "" })
                                                                @Html.LabelFor(m => m.ShowMargin, new { @class = "me-15", @style = "" })
                                                        </div>
                                                        <div class="col-md-5">
                                                                @Html.CheckBoxFor(m => m.ConsiderINR, new { @class = "" })
                                                                @Html.LabelFor(m => m.ConsiderINR, new { @class = "me-15", @style = "" })
                                                        </div>
                                                    </div>
                                               
                                            </div>
                                        </div>
                                        <div class="box-footer">
                                            <input type="submit" value="View" class="btn btn-primary pull-right" />
                                            <a href="javascript:void(0);" class="btn btn-primary" onclick="history.go(-1);">Back</a>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
    </div>
