@model Rising.WebRise.Models.DematHoldingOutput

@{
    ViewBag.Title = "Demat Holding AsOnDate";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    <style>
        .table-box {
            height: 443px;
            overflow-y: scroll;
            background: #fff;
        }

        table {
            width: 100%;
        }

        table, th, td {
            border: 1px solid #808080;
            border-collapse: collapse;
        }

        th {
            position: sticky;
            top: 0;
            color: #fff;
            background: #00bcd4;
        }
    </style>

}

<div class="page-wrapper" style="margin-top: 72px;">
    <!-- Page Content-->
    <div class="page-content">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="page-title-box">
                    <div class="row">


                    </div>
                    <!--end row-->
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>

        <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11" id="Ledger" style="margin: auto;">
                <div class="card" style="margin-top:20px;">
                    <div class="card-header" style="background-color:#eb2c2e70;">
                        <h4 class="card-title" style="color:black">Demat Holding Report</h4>

                    </div>
                    <!--end card-header-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="btn btn-info">As On Date - @Model.AsOnDate.ToString("dd-MMM-yyyy")</div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div style="float:right;padding:2px 2px 2px 2px">

                                    <a href="javascript:void(0);" class="btn btn-dark" onclick="history.go(-1);"><i class="fa fa-arrow-left"></i></a>

                                </div>
                                <div style="float:right;padding:2px 2px 2px 2px">

                                    @using (Html.BeginForm("ExportExcel", "ReportExport", FormMethod.Post))
                                    {
                                        <input type="hidden" name="GridHtml1" />
                                        <button type="submit" class="btn btn-success" id="btnSubmit1"><i class="fa fa-file-excel"></i></button>

                                    }

                                </div>
                                <div style="float:right;padding:2px 2px 2px 2px">

                                    @using (Html.BeginForm("ExportWord", "ReportExport", FormMethod.Post))
                                    {
                                        <input type="hidden" name="GridHtml2" />
                                        <button type="submit" class="btn btn-info" id="btnSubmit2"><i class="fa fa-file-word"></i></button>

                                    }
                                </div>
                                <div style="float:right;padding:2px 2px 2px 2px">

                                    @using (Html.BeginForm("ExportPdf", "ReportExport", FormMethod.Post))
                                    {
                                        <input type="hidden" name="GridHtml3" />
                                        <button type="submit" class="btn btn-danger" id="btnSubmit3"><i class="fa fa-file-pdf"></i></button>

                                    }
                                </div>
                                <div style="float:right;padding:2px 2px 2px 2px">

                                    @using (Html.BeginForm("SendEmail", "ReportExport", FormMethod.Post))
                                    {
                                        <input type="hidden" name="GridHtml4" />
                                        <button type="submit" class="btn btn-orange" id="btnSubmit4"><i class="fa fa-envelope"></i></button>

                                    }
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12" style="margin: auto;">
                                <div class="card" id="ExportedGrid">
                                    <div class="card-body" style="padding: 0;">
                                        <div class="table-responsive browser_users">
                                            <div class="analytic-dash-activity" data-simplebar>
                                                <div class="activity">
                                                    <table class="table table-striped table-bordered" style="width:100%">

                                                        <thead>
                                                            <tr>
                                                                <th style="border: 1px solid  #808080;background-color:#6594d7;color:white;font-size: 12px;font-weight: bold;">Scrip Name</th>
                                                                <th style="border: 1px solid  #808080;background-color:#6594d7;color:white;font-size: 12px;font-weight: bold;">Scrip Code</th>
                                                                <th style="border: 1px solid  #808080;background-color:#6594d7;color:white;font-size: 12px;font-weight: bold;">ISIN Code</th>
                                                                <th style="border: 1px solid  #808080;background-color:#6594d7;color:white;font-size: 12px;font-weight: bold;">Beneficiary</th>
                                                                <th style="border: 1px solid  #808080;background-color:#6594d7;color:white;font-size: 12px;font-weight: bold;">Pledge</th>
                                                                <th style="border: 1px solid  #808080;background-color:#6594d7;color:white;font-size: 12px;font-weight: bold;">DPLock</th>
                                                                <th style="border: 1px solid  #808080;background-color:#6594d7;color:white;font-size: 12px;font-weight: bold;">CDSL</th>
                                                                <th style="border: 1px solid  #808080;background-color:#6594d7;color:white;font-size: 12px;font-weight: bold;">NSDL</th>
                                                                <th style="border: 1px solid  #808080;background-color:#6594d7;color:white;font-size: 12px;font-weight: bold;">Total Qty</th>
                                                                <th style="border: 1px solid  #808080;background-color:#6594d7;color:white;font-size: 12px;font-weight: bold;">Rate</th>
                                                                <th style="border: 1px solid  #808080;background-color:#6594d7;color:white;font-size: 12px;font-weight: bold;">Value</th>
                                                                <th style="border: 1px solid  #808080;background-color:#6594d7;color:white;font-size: 12px;font-weight: bold;">Var</th>
                                                                <th style="border: 1px solid  #808080;background-color:#6594d7;color:white;font-size: 12px;font-weight: bold;">Value Var</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            @{foreach (Rising.WebRise.Models.DematHoldingOutputRow rw in Model.listDematHoldingOutputRow)
                                                                {

                                                                    <tr>
                                                                        <td style="font-size:12px;border: 1px solid  #d3d3d3;">@rw.ScripName</td>
                                                                        <td style="font-size:12px;border: 1px solid  #d3d3d3;">@rw.ScripCode</td>
                                                                        <td style="font-size:12px;border: 1px solid  #d3d3d3;">@rw.ScripIsin</td>
                                                                        <td style="text-align: right; font-size:12px;border: 1px solid  #d3d3d3;">@rw.Qty</td>
                                                                        <td style="text-align: right; font-size:12px;border: 1px solid  #d3d3d3;">@rw.Stock</td>
                                                                        <td style="text-align: right; font-size:12px;border: 1px solid  #d3d3d3;">@rw.LockQty</td>
                                                                        <td style="text-align: right; font-size:12px;border: 1px solid  #d3d3d3;">@rw.CDSLQty</td>
                                                                        <td style="text-align: right; font-size:12px;border: 1px solid  #d3d3d3;">@rw.NSDLQty</td>
                                                                        <td style="text-align: right; font-size:12px;border: 1px solid  #d3d3d3;">@rw.TotalQty</td>
                                                                        <td style="text-align: right; font-size:12px;border: 1px solid  #d3d3d3;">@rw.Rate</td>
                                                                        <td style="text-align: right;font-size:12px;border: 1px solid  #d3d3d3;">@rw.Value</td>
                                                                        <td style="text-align: right;font-size:12px;border: 1px solid  #d3d3d3;">@rw.VarPer</td>
                                                                        <td style="text-align: right;font-size:12px;border: 1px solid  #d3d3d3;">@rw.VarValue</td>
                                                                    </tr>
                                                                }
                                                            }


                                                            @{
                                                                <tr style="background-color:lightgray; color:black;">
                                                                    <td style="text-align: center;font-size: 15px;border: 1px solid  #d3d3d3;"><strong>TOTAL</strong></td>
                                                                    <td style="font-size:12px;border: 1px solid  #d3d3d3;"></td>
                                                                    <td style="font-size:12px;border: 1px solid  #d3d3d3;"></td>
                                                                    <td style="text-align: right; font-size:12px;border: 1px solid  #d3d3d3;"><strong>@Model.listDematHoldingOutputRow.Sum(a=>a.Qty)</strong></td>
                                                                    <td style="text-align: right; font-size:12px;border: 1px solid  #d3d3d3;"></td>
                                                                    <td style="text-align: right; font-size:12px;border: 1px solid  #d3d3d3;"><strong>@Model.listDematHoldingOutputRow.Sum(a=>a.Stock)</strong></td>
                                                                    <td style="text-align: right; font-size:12px;border: 1px solid  #d3d3d3;"><strong>@Model.listDematHoldingOutputRow.Sum(a=>a.LockQty)</strong></td>
                                                                    <td style="text-align: right; font-size:12px;border: 1px solid  #d3d3d3;"><strong>@Model.listDematHoldingOutputRow.Sum(a=>a.CDSLQty)</strong></td>
                                                                    <td style="text-align: right; font-size:12px;border: 1px solid  #d3d3d3;"><strong>@Model.listDematHoldingOutputRow.Sum(a=>a.NSDLQty)</strong></td>
                                                                    <td style="text-align: right; font-size:12px;border: 1px solid  #d3d3d3;"></td>
                                                                    <td style="text-align: right;font-size:12px;border: 1px solid  #d3d3d3;"></td>
                                                                    <td style="text-align: right;font-size:12px;border: 1px solid  #d3d3d3;"></td>
                                                                    <td style="text-align: right;font-size:12px;border: 1px solid  #d3d3d3;"></td>
                                                                </tr>
                                                            }

                                                        </tbody>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
