@using Rising.WebRise.Models
@model SettlementSchedule
@using System.Data
@{
    ViewBag.Title = "SettlementMaster";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


@section Scripts {

    <script>

        function FillStnType() {
            var stncode1 = $('#stn').val();
            $.ajax({
                url: '/Master/SettlementSechdulelist',
                type: "GET",
                dataType: "JSON",
                data: { stncode: stncode1 },
                success: function (stat) {

                    $("#stltype").html(""); // clear before appending new list
                    $.each(stat, function (i, sttltype) {
                        $("#stltype").append($("<option>", {
                            value: sttltype,
                            text: sttltype


                            //.append(
                            //$('<option>hello</option>').val(sttltype.SETTTYPE).html(sttltype.SETTDES));
                        }))
                    });
                }
            });
        }
    </script>


}



<div class="page-content" style="margin-top:115px;">
    <div class="container-fluid">

        @using (Html.BeginForm("SettlementSechduleSave", "Master", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
        {

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-12" style="margin-left:auto;margin-right:auto;">
                    <div class="card">
                        <div class="card-header" style="background-color:#fbd857;">
                            <h4 class="card-title">Settlement Schedule</h4>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.StationName, new { @class = "col-sm-4 col-form-label" })
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.StationName, new SelectList(ViewBag.States, "key", "value", "me"), "- select-", new { @class = "form-control", required = "required", @id = "stn", @onchange = "FillStnType()" })
                                        </div>
                                    </div>
                                    <div class="form-group row">

                                        @Html.LabelFor(m => m.PeriodFrom, new { @class = "col-sm-4 col-form-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.PeriodFrom, new { @class = "form-control", @id = "prdfrm" })
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.PayinDate, new { @class = "col-sm-4 col-form-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.PayinDate, new { @class = "form-control", @id = "indate" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.DelinDate, new { @class = "col-sm-4 col-form-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.DelinDate, new { @class = "form-control", @id = "deldate" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group row">

                                        @Html.LabelFor(m => m.SettType, new { @class = "col-sm-4 col-form-label" })
                                        <div class="col-sm-8">
                                            @Html.DropDownListFor(m => m.SettType, new SelectList(Enumerable.Empty<SelectListItem>(), "STATION", "SETTDES"), new { @class = "form-control", @id = "stltype" })
                                        </div>
                                    </div>
                                    <div class="form-group row">

                                        @Html.LabelFor(m => m.PeriodTo, new { @class = "col-sm-4 col-form-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.PeriodTo, new { @class = "form-control", @id = "prdto" })
                                        </div>
                                    </div>
                                    <!-- end col -->

                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.PayoutDate, new { @class = "col-sm-4 col-form-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.PayoutDate, new { @class = "form-control", @id = "paydate" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.DeloutDate, new { @class = "col-sm-4 col-form-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.DeloutDate, new { @class = "form-control", @id = "deloutdate" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group row">
                                        @Html.LabelFor(m => m.SettNo, new { @class = "col-sm-4 col-form-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.SettNo, new { @class = "form-control", @id = "sttlment", @placeholder = "Enter Settlement No", @onblur = "Fillsettlementcode()" })
                                        </div>
                                    </div>
                                    <div class="form-group row">

                                        @Html.LabelFor(m => m.ExchSett, new { @class = "col-sm-4 col-form-label" })
                                        <div class="col-sm-8">
                                            @Html.TextBoxFor(m => m.ExchSett, new { @class = "form-control", @placeholder = "Enter Setting", @id = "exstt" })
                                        </div>
                                    </div>




                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 ml-auto"><button type="submit" class="btn btn-primary float-right">Submit</button></div>
                            </div>
                        </div>




                    </div>
                    <!-- container -->
                </div>


            </div>

        }

        @*<div class="row">
            <div class="col-12" style="margin-left:auto;margin-right:auto;">
                <div class="card">
                    <div class="card-header" style="background-color:#fbd857">

                    </div>
                    <div class="card-body">
                        <ul class="nav nav-pills nav-justified" role="tablist">
                            <li class="nav-item waves-effect waves-light"><a class="nav-link active" data-toggle="tab" href="#home-1" role="tab" aria-selected="true">Settlement Import</a></li>
                            <li class="nav-item waves-effect waves-light"><a class="nav-link" data-toggle="tab" href="#profile-1" role="tab" aria-selected="false">Settlement Type Entry/Edit</a></li>
                            @*
                                <li class="nav-item waves-effect waves-light"><a class="nav-link" data-toggle="tab" href="#settings-1" role="tab" aria-selected="false">Settlement Schedule Printing</a></li>*@
     
        <div class="tab-content">
            @*Settlement Import*@



            @*Settlement Schedule printing*@

            @*@using (Html.BeginForm("SettlementPrinting", "Master", new { ReturnUrl = ViewBag.ReturnUrl, @method = "TradeFile" }, FormMethod.Post, new { @class = "", role = "form", enctype = "multipart/form-data" }))
                {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="tab-pane p-3" id="settings-1" role="tabpanel">


                </div>
                }*@




        </div>

    </div>

</div>



