@model Rising.WebRise.Models.LongShortTermOutput
@using System.Data
@{
    ViewBag.Title = "Long Term/Short Term Report";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";

    <style>
        table, th, td {
            border: 1px solid #808080;
            border-collapse: collapse;
        }

        th {
            position: sticky;
            top: 0;
            color: #fff;
            background: #00bcd4;
        }
    </style>
}

<div class="page-wrapper" style="margin-top: 72px;">
    <!-- Page Content-->
    <div class="page-content">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="row">


                    </div>
                    <!--end row-->
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>
        <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11" id="Ledger" style="margin: auto;">
                <div class="my-3 my-md-5">

                    <div class="col-md-12 col-lg-12">

                        <div class="row">
                            <div class="col-sm-7">
                                <div class="btn btn-info">Date Range  : @Model.DateFrom.ToString("dd-MM-yyyy")  to   @Model.DateTo.ToString("dd-MM-yyyy")</div>

                            </div>

                            <div class="col-sm-5">
                                <div style="float:right;padding:2px 2px 2px 2px">

                                    <a href="javascript:void(0);" class="btn btn-dark" onclick="history.go(-1);"><i class="fa fa-arrow-left"></i></a>

                                </div>
                                <div style="float:right;padding:2px 2px 2px 2px">

                                    @using (Html.BeginForm("ExportExcel", "ReportExport", FormMethod.Post))
                                    {
                                    <input type="hidden" name="GridHtml1" />
                                    <button type="submit" class="btn btn-success" id="btnSubmit1"><i class="fa fa-file-excel"></i></button>

                                    }

                                </div>
                                <div style="float:right;padding:2px 2px 2px 2px">

                                    @using (Html.BeginForm("ExportWord", "ReportExport", FormMethod.Post))
                                    {
                                    <input type="hidden" name="GridHtml2" />
                                    <button type="submit" class="btn btn-info" id="btnSubmit2"><i class="fa fa-file-word"></i></button>

                                    }
                                </div>
                                <div style="float:right;padding:2px 2px 2px 2px">

                                    @using (Html.BeginForm("ExportPdf", "ReportExport", FormMethod.Post))
                                    {
                                    <input type="hidden" name="GridHtml3" />
                                    <button type="submit" class="btn btn-danger" id="btnSubmit3"><i class="fa fa-file-pdf"></i></button>

                                    }
                                </div>
                                <div style="float:right;padding:2px 2px 2px 2px">

                                    @using (Html.BeginForm("SendEmail", "ReportExport", FormMethod.Post))
                                    {
                                    <input type="hidden" name="GridHtml4" />
                                    <button type="submit" class="btn btn-orange" id="btnSubmit4"><i class="fa fa-envelope"></i></button>

                                    }
                                </div>
                            </div>

                        </div>

                        <div>
                            <div class="row" id="ExportedGrid">
                                <div class="col-md-12 col-lg-12">
                                    <div class="card" style="padding: 0;">
                                        <div class="card-header">
                                            <h3 class="card-title">Long Term/Short term Profit Loss Report</h3>
                                        </div>
                                        @if (Model.DsOut4.Tables.Count > 0)
                                        {

                                            <div class="table-responsive browser_users">
                                                <div class="analytic-dash-activity" data-simplebar>
                                                    <div class="activity">
                                                        <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width:1200px;">
                                                            <thead>
                                                                <tr>

                                                                    <th colspan="3" style="border: 1px solid  #000000;background-color:#b4f187;font-size: 12px;font-weight: bold;"></th>
                                                                    <th colspan="4" style="border: 1px solid  #000000;background-color:#6496d8;font-size: 12px;font-weight: bold; text-align:center;color: white;">JOBBING</th>
                                                                    <th colspan="4" style="border: 1px solid  #000000;background-color:#DFE076;font-size: 12px;font-weight: bold;text-align:center;color: white;">SHORT TERM</th>
                                                                    <th colspan="4" style="border: 1px solid  #000000;background-color:#f596b4;font-size: 12px;font-weight: bold;text-align:center;color: white;">LONG TERM TAXABLE DATA</th>
                                                                    <th colspan="3" style="border: 1px solid  #000000;background-color:#6496d8;font-size: 12px;font-weight: bold;text-align:center;color: white;">STOCK</th>

                                                                </tr>

                                                                <tr>
                                                                    <th style="border: 1px solid  #000000;background-color:#b4f187;font-size: 12px">Scrip Name</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#b4f187;font-size: 12px">ISIN</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#b4f187;font-size: 12px">Rate31JAN2018</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#6496d8;font-size: 12px">Qty</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#6496d8;font-size: 12px">Buy Rate</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#6496d8;font-size: 12px">Sale Rate</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#6496d8;font-size: 12px">P/L</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#DFE076;font-size: 12px">Qty</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#DFE076;font-size: 12px">Buy Rate</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#DFE076;font-size: 12px">Sale Rate</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#DFE076;font-size: 12px">P/L</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#f596b4;font-size: 12px">Qty</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#f596b4;font-size: 12px">Buy Rate</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#f596b4;font-size: 12px">Sale Rate</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#f596b4;font-size: 12px">P/L</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#6496d8;font-size: 12px">Qty</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#6496d8;font-size: 12px">Buy Avg</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#6496d8;font-size: 12px">Stock Val</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (DataRow dr in Model.DsOut4.Tables[0].Rows)
                                                                {
                                                                <tr>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[1]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[20]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[21]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[4]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[5]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[6]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[7]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[8]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[9]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[10]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[11]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[12]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[13]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[14]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[15]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[16]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[17]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[18]</td>
                                                                </tr>


                                                                }
                                                                <tr>
                                                                    @{
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px">Total : </td>
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px"></td>
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px"></td>
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px">@Model.DsOut4.Tables[0].AsEnumerable().Sum(x => Convert.ToDecimal(x["QTY_JOBB"]))</td>
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px"></td>
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px"></td>
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px">@Model.DsOut4.Tables[0].AsEnumerable().Sum(x => Convert.ToDecimal(x["PL_JOBB"]))</td>
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px">@Model.DsOut4.Tables[0].AsEnumerable().Sum(x => Convert.ToDecimal(x["QTY_SHORT"]))</td>
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px"></td>
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px"></td>
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px">@Model.DsOut4.Tables[0].AsEnumerable().Sum(x => Convert.ToDecimal(x["PL_SHORT"]))</td>
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px">@Model.DsOut4.Tables[0].AsEnumerable().Sum(x => Convert.ToDecimal(x["QTY_LONG"]))</td>
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px"></td>
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px"></td>
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px">@Model.DsOut4.Tables[0].AsEnumerable().Sum(x => Convert.ToDecimal(x["PL_LONG"]))</td>
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px">@Model.DsOut4.Tables[0].AsEnumerable().Sum(x => Convert.ToDecimal(x["QTY"]))</td>
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px"></td>
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px">@Model.DsOut4.Tables[0].AsEnumerable().Sum(x => Convert.ToDecimal(x["VALUE"]))</td>
                                                                    }
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="card" style="padding: 0;">
                                        <div class="card-header">
                                            <h3 class="card-title">Client Tax Detail </h3>
                                        </div>
                                        @if (Model.DsOut2.Tables.Count > 0)
                                        {

                                            <div class="table-responsive table-box">
                                                <table class="table table-striped table-bordered" style="width:1200px">
                                                    <thead>
                                                        <tr>
                                                            <th style="border: 1px solid  #000000;background-color:#b4f187;font-size: 12px">Trans.Charges</th>
                                                            <th style="border: 1px solid  #000000;background-color:#b4f187;font-size: 12px">STT	</th>
                                                            <th style="border: 1px solid  #000000;background-color:#b4f187;font-size: 12px">STAMP DUTY</th>
                                                            <th style="border: 1px solid  #000000;background-color:#6496d8;font-size: 12px">Demat Chrg.</th>
                                                            <th style="border: 1px solid  #000000;background-color:#6496d8;font-size: 12px">SEBI Tax</th>
                                                            <th style="border: 1px solid  #000000;background-color:#6496d8;font-size: 12px">Brokerage</th>
                                                            <th style="border: 1px solid  #000000;background-color:#6496d8;font-size: 12px">SEBI FEES</th>
                                                            <th style="border: 1px solid  #000000;background-color:#DFE076;font-size: 12px">Tax2</th>
                                                            <th style="border: 1px solid  #000000;background-color:#DFE076;font-size: 12px">Tax3</th>
                                                            <th style="border: 1px solid  #000000;background-color:#DFE076;font-size: 12px">GST</th>
                                                            <th style="border: 1px solid  #000000;background-color:#DFE076;font-size: 12px">Net Tax(WithOut Brok)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (DataRow dr in Model.DsOut2.Tables[0].Rows)
                                                        {
                                                        <tr>
                                                            <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[0]</td>
                                                            <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[2]</td>
                                                            <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[3]</td>
                                                            <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[4]</td>
                                                            <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[5]</td>
                                                            <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[6]</td>
                                                            <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[7]</td>
                                                            <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[8]</td>
                                                            <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[9]</td>
                                                            <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[13]</td>
                                                            <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[12]</td>
                                                        </tr>
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>

                                            <div class="col-sm-12" style="margin-top:20px">
                                                <div class="btn btn-info">Jobbing  : @Model.DsOut4.Tables[0].AsEnumerable().Sum(x => Convert.ToDecimal(x["PL_JOBB"]))</div>
                                                <div class="btn btn-danger">Short Term  : @Model.DsOut4.Tables[0].AsEnumerable().Sum(x => Convert.ToDecimal(x["PL_SHORT"]))</div>
                                                <div class="btn btn-primary">Long Term  : @Model.DsOut4.Tables[0].AsEnumerable().Sum(x => Convert.ToDecimal(x["PL_LONG"]))</div>
                                                <div class="btn btn-warning">All Taxes : @Model.DsOut2.Tables[0].AsEnumerable().Sum(x => Convert.ToDecimal(x["taxes"]))</div>
                                                <div class="btn btn-info">Client Net Profit Loss : @Model.DsOut4.Tables[0].AsEnumerable().Sum(x => Convert.ToDecimal(x["VALUE"]))</div>
                                            </div>



                                        }


                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="card" style="padding: 0;">
                                        <div class="card-header">
                                            <h3 class="card-title">Client Turnover Detail </h3>
                                        </div>
                                        @if (Model.DsOut1.Tables.Count > 0)
                                        {

                                            <div class="table-responsive table-box">
                                                <table class="table table-striped table-bordered" style="width:1200px">
                                                    <thead>
                                                        <tr>
                                                            @foreach (var cl in Model.DsOut1.Tables[0].Columns)
                                                            {
                                                            <th style="border: 1px solid  #d3d3d3;background-color:#ffc107;font-size: 12px">@cl</th>

                                                            }

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (DataRow dr in Model.DsOut1.Tables[0].Rows)
                                                        {
                                                        <tr>
                                                            @foreach (var cl in dr.ItemArray)
                                                                {
                                                                <td style="border: 1px solid  #d3d3d3;font-size: 12px">@cl</td>
                                                                }

                                                        </tr>


                                                        }

                                                    </tbody>
                                                </table>
                                                <div class="col-sm-12" style="margin-top:20px">
                                                    <div class="btn btn-info">Short term Buy  : @Model.DsOut4.Tables[0].AsEnumerable().Sum(x => Convert.ToDecimal(x["QTY_SHORT_BUY_VALUE"]))</div>
                                                    <div class="btn btn-danger">Short Term Sale : @Model.DsOut4.Tables[0].AsEnumerable().Sum(x => Convert.ToDecimal(x["QTY_SHORT_SALE_VALUE"]))</div>
                                                    <div class="btn btn-primary">Long Term Buy  : @Model.DsOut4.Tables[0].AsEnumerable().Sum(x => Convert.ToDecimal(x["QTY_LONG_BUY_VALUE"]))</div>
                                                    <div class="btn btn-info">Long Term Sale : @Model.DsOut4.Tables[0].AsEnumerable().Sum(x => Convert.ToDecimal(x["QTY_LONG_SALE_VALUE"]))</div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="card" style="padding: 0;">
                                        <div class="card-header">
                                            <h3 class="card-title">Client Stock Detail </h3>
                                        </div>
                                        @if (Model.DsOut3.Tables.Count > 0)
                                        {

                                            <div class="table-responsive browser_users">
                                                <div class="analytic-dash-activity" data-simplebar>
                                                    <div class="activity">
                                                        <table class="table table-striped table-bordered" style="width:1200px">
                                                            <thead>
                                                                <tr>
                                                                    <th style="border: 1px solid  #000000;background-color:#b4f187;font-size: 12px">Scrip Name</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#b4f187;font-size: 12px">ISIN</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#b4f187;font-size: 12px">Rate31JAN2018</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#6496d8;font-size: 12px">Buy Date</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#6496d8;font-size: 12px">Sale Date</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#6496d8;font-size: 12px">Buy Qty</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#6496d8;font-size: 12px">Sale Qty</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#DFE076;font-size: 12px">Mkt Rate</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#DFE076;font-size: 12px">Net Value</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#DFE076;font-size: 12px">Days</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#DFE076;font-size: 12px">Close Rate</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#DFE076;font-size: 12px">Close Value</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#DFE076;font-size: 12px">UnRealized Short Term P/L</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#DFE076;font-size: 12px">UnRealized Long Term P/L</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#DFE076;font-size: 12px">UnRealized Total P/L</th>
                                                                    <th style="border: 1px solid  #000000;background-color:#DFE076;font-size: 12px">STT</th>


                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (DataRow dr in Model.DsOut3.Tables[0].Rows)
                                                                {

                                                                <tr>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[0]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[8]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[9]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[1]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[2]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[3]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[4]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[5]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[14]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[6]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[7]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[15]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[11]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[12]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[13]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[10]</td>
                                                                </tr>


                                                                }

                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        }




                                    </div>
                                </div>




                            </div>

                            @*<div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card" style="padding: 0;">
                                    <div class="card-header">
                                        <h3 class="card-title">Detail Report</h3>
                                    </div>
                                    @if (Model.DsOut5.Tables.Count > 0)
                                    {


                                        <div class="table-responsive browser_users">
                                            <div class="analytic-dash-activity" data-simplebar>
                                                <div class="activity">
                                                    <table class="table table-striped table-bordered" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                @foreach (var cl in Model.DsOut5.Tables[0].Columns)
                                                                {
                                                                    <th style="border: 1px solid  #d3d3d3;background-color:#6496d8;font-size: 12px">@cl</th>

                                                                }

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (DataRow dr in Model.DsOut5.Tables[0].Rows)
                                                            {
                                                                <tr>
                                                                    @foreach (var cl in dr.ItemArray)
                                                                    {
                                                                        <td style="border: 1px solid  #d3d3d3;font-size: 12px">@cl</td>
                                                                    }

                                                                </tr>


                                                            }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    }




                                </div>
                            </div>




                        </div>*@
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
