@using Rising.WebRise.Models
@model LoginViewModel
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Login.cshtml";
}


<div class="container">
    <div class="row px-3">
        <div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
            <div class="img-left d-none d-md-flex"></div>
            <div class="card-body">
                <img src="~/Content/assets/img/logo.png" class="img-fluid" alt="Logo" style="height: 20%;float:right;">
                <p class="btn btn-outline-info" style="float:left;font-size:20px">BRANCH LOGIN</p>
                <div class="form-box px-3" style="margin-top:100px">
                    @using (Html.BeginForm("LogIn", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-input">
                            <span><i class="fa fa-envelope-o"></i></span>
                            @Html.TextBoxFor(m => m.UserID, new { @class = "", @placeholder = "username" })
                            @Html.ValidationMessageFor(m => m.UserID, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-input">
                            <span><i class="fa fa-key"></i></span>
                            @Html.PasswordFor(m => m.Password, new { @class = "", @placeholder = "password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>


                        <div class="mb-3">
                            <div class="custom-control custom-checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input" })
                                @Html.LabelFor(m => m.RememberMe, new { @class = "custom-control-label" })
                            </div>
                        </div>

                        <div class="mb-3">

                            <button type="submit" class="btn btn-block text-uppercase">Login</button>

                        </div>

                        <div class="mb-3">
                            @Html.ActionLink("Forgot your password?", "Index", "ForgetPassword", new { area = "" }, new { @class = "forget-link text-right" })
                            <a style="float:right" href="http://182.71.53.36:9999/CAPB/"><u>Switch to old version</u></a>
                        </div>


                    }
                </div>
            </div>
        </div>
    </div>
</div>

