@model Rising.WebRise.Controllers.DematLedgerInput
@using GridMvc.Html

@{
    ViewBag.Title = "Financial Ledger";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
 
}

<div class="page-wrapper">
    <!-- Page Content-->
    <div class="page-content">
        <!-- Page-Title -->

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" id="Ledger">
                <div class="card">
                    <div class="card-header">
                        <h5>DEMAT LEDGER</h5>
                    </div>
                    <!--end card-header-->
                    <div class="card-body">
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-lg-8">
                              
                                <div class="btn btn-info btn-sm mr-2">Date Range  : @Model.DateFrom.ToString("dd-MM-yyyy")  to   @Model.DateTo.ToString("dd-MM-yyyy")</div>
                            </div>
                            <div class="col-sm-4">
                                <div style="float:right">

                                    <a href="javascript:void(0);" class="btn btn-dark btn-sm mr-2" onclick="history.go(-1);">Back</a>

                                </div>
                                <div style="float:right">

                                    @using (Html.BeginForm("ExportExcel", "ReportExport", FormMethod.Post))
                                    {

                                        <input type="hidden" name="GridHtml1" />
                                        <button type="submit" class="btn btn-success btn-sm mr-2" id="btnSubmit1">Excel</button>

                                    }


                                </div>
                                <div style="float:right">

                                    @using (Html.BeginForm("ExportWord", "ReportExport", FormMethod.Post))
                                    {
                                        <input type="hidden" name="GridHtml2" />
                                        <button type="submit" class="btn btn-primary btn-sm mr-2" id="btnSubmit2">Word</button>

                                    }
                                </div>
                                <div style="float:right">

                                    @using (Html.BeginForm("ExportPdf", "ReportExport", FormMethod.Post))
                                    {
                                        <input type="hidden" name="GridHtml3" />
                                        <button type="submit" class="btn btn-danger btn-sm mr-2" id="btnSubmit3">Pdf</button>

                                    }
                                </div>
                                <div style="float:right">

                                    @using (Html.BeginForm("SendEmail", "ReportExport", FormMethod.Post))
                                    {
                                        <input type="hidden" name="GridHtml4" />
                                        <button type="submit" class="btn btn-warning btn-sm mr-2" id="btnSubmit4">Email</button>

                                    }
                                </div>
                                <div style="float:right">
                                    @using (Html.BeginForm("ExportPrint", "ReportExport", FormMethod.Post, new { target = "_blank" }))
                                    {

                                        <input type="hidden" name="GridHtml5" />
                                        <button type="submit" class="btn btn-info btn-sm mr-2" id="btnSubmit5">Print</button>
                                    }
                                </div>

                            </div>

                        </div>

                        <!--end row-->


                        <div class="row">
                            <div class="col-lg-12" style="margin: auto;">
                                <div class="card" id="ExportedGrid">
                                    <div class="card-body" style="padding: 0;">
                                        <div class="table-responsive table-box" style="height:600px">
                                            <table class="table table-bordered table-responsive" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th class="table-header">Date</th>
                                                        <th class="table-header">Scrip Name</th>
                                                        <th class="table-header">Status</th>
                                                        <th class="table-header">SettNo</th>
                                                        <th class="table-header">Debit</th>
                                                        <th class="table-header">Credit</th>
                                                        <th class="table-header">Ref No</th>
                                                        <th class="table-header">DP Code</th>
                                                        <th class="table-header">AC NO</th>
                                                        <th class="table-header">ISIN</th>
                                                        <th class="table-header">Trnf From</th>
                                                        <th class="table-header">Client</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @{

                                                        foreach (System.Data.DataRow rw in Model.DSOut.Tables[0].Rows)
                                                        {

                                                            <tr>
                                                                <td style="font-size:12px;border: 1px solid  #d3d3d3;">@rw["ddate"]</td>
                                                                <td style="font-size:12px;border: 1px solid  #d3d3d3;">@rw["sh_name"]</td>
                                                                <td style="font-size:12px;border: 1px solid  #d3d3d3;">@rw["status"]</td>
                                                                <td style="font-size:12px;border: 1px solid  #d3d3d3;">@rw["settno"]</td>
                                                                <td style="font-size:12px;border: 1px solid  #d3d3d3;">@rw["debit"]</td>
                                                                <td style="font-size:12px;border: 1px solid  #d3d3d3;">@rw["credit"]</td>
                                                                <td style="font-size:12px;border: 1px solid  #d3d3d3;">@rw["scrollno"]</td>
                                                                <td style="font-size:12px;border: 1px solid  #d3d3d3;">@rw["clientdp"]</td>
                                                                <td style="font-size:12px;border: 1px solid  #d3d3d3;">@rw["acno"]</td>
                                                                <td style="font-size:12px;border: 1px solid  #d3d3d3;">@rw["isincode"]</td>
                                                                <td style="font-size:12px;border: 1px solid  #d3d3d3;">@rw["clientto"]</td>
                                                                <td style="font-size:12px;border: 1px solid  #d3d3d3;">@rw["clientcd"]</td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

