<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WebRise</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using Rising.WebRise.Models


    @*<script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>*@
</head>
<body>
    @if (TempData["AlertMessage"] != null)
    {
        <script type="text/javascript">
            alert("@TempData["AlertMessage"]");
        </script>
        TempData["AlertMessage"] = null;
    }
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session["CompanyName"] != null)
                {
                    <img src="~/Content/img/Client_LOGO.jpg" style="height:45px;" /> @Html.ActionLink(Session["CompanyName"].ToString(), "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    Response.Redirect(Url.Action("Index", "Login"));
                }
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Rising</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    }


</body>
</html>
