@using Rising.WebRise.Models
@model DebtorsCreditorsInput

@{
    ViewBag.Title = "Debtors Creditors";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="row">

    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">DEBTORS CREDITORS LIST</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="new-user-info">
                                    <!--end card-header-->
                                    @using (Html.BeginForm("DebtorCredtorList", "Financial", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="row">
                                            <div class="col-md-4 col-12">
                                                @Html.LabelFor(m => m.OnDate, new { @class = "form-label" })
                                                @Html.TextBoxFor(m => m.OnDate, null, new { @Value = Model.OnDate.ToString("yyyy-MM-dd"), @class = "form-control", @id = "date-end", @type = "date" })
                                            </div>

                                            <div class="col-md-4 col-12">
                                                @Html.LabelFor(m => m.Exchange, new { @class = "form-label" })
                                                @Html.DropDownListFor(m => m.Exchange, new SelectList(new[] { "NSE", "BSE", "NFO" }), new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-4 col-12">
                                                @Html.LabelFor(m => m.AccountGroup, new { @class = "form-label" })
                                                @Html.DropDownListFor(m => m.AccountGroup, new SelectList(new[] { "SundryDebtorsCreditors", " Revenue", " BankAccounts" }), new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-12">
                                                @Html.LabelFor(m => m.Branch, new { @class = "form-label" })
                                                @Html.DropDownListFor(m => m.Branch, new SelectList(new[] { "HO" }), new { @class = "form-control" })
                                            </div>

                                            <div class="col-md-4 col-12">
                                                @Html.LabelFor(m => m.Group, new { @class = "form-label" })
                                                @Html.DropDownListFor(m => m.Group, new SelectList(new[] { "" }), new { @class = "form-control" })
                                            </div>
                                            <div class="col-md-4 col-12">
                                                @Html.LabelFor(m => m.FilterValue, new { @class = "form-label" })
                                                @Html.TextBoxFor(m => m.FilterValue, null, new { @class = "form-control" })

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-12">
                                                @Html.LabelFor(m => m.Selection, new { @class = "form-label" })
                                                @Html.DropDownListFor(m => m.Selection, new SelectList(new[] { "Both", "Debtors", "Creditors" }), new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-12">
                                                <div class="c-inputs-stacked" style="padding-top: 30px">
                                                    @Html.CheckBoxFor(m => m.IncludeCapitalBalance, new { @class = "" })
                                                    <strong>@Html.LabelFor(m => m.IncludeCapitalBalance, new { @class = "me-30", @style = "" })</strong>

                                                </div>
                                            </div>
                                            <div class="col-md-4 col-12">
                                                <div class="c-inputs-stacked" style="padding-top: 30px">
                                                    @Html.CheckBoxFor(m => m.ShowMarginCode, new { @class = "" })
                                                    <strong>@Html.LabelFor(m => m.ShowMarginCode, new { @class = "", @style = "me-30" }) </strong>

                                                </div>
                                            </div>
                                            <div class="col-md-4 col-12">
                                                <div class="c-inputs-stacked" style="padding-top: 30px">
                                                    @Html.CheckBoxFor(m => m.MergeWithCode, new { @class = "" })
                                                    <strong>@Html.LabelFor(m => m.MergeWithCode, new { @class = "me-30", @style = "" })</strong>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="box-footer">
                                            <input type="submit" value="View" class="btn btn-success pull-right" />
                                            <a href="javascript:void(0);" class="btn btn-danger" onclick="history.go(-1);">Back</a>
                                        </div>

                                    }
                                </div>

                            </div>
                        </div>
                    </div>
    </div>
