@model Rising.WebRise.Models.TrialBalanceInOut
@using System.Data
@{
    ViewBag.Title = "TrialBalance";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";

    <style>
        .table-box {
            width: 1000px;
            height: 450px;
            overflow-y: scroll;
            background: #fff;
        }

        table {
            width: 100%;
        }

        table, th, td {
            border-collapse: collapse;
        }

        th {
            position: sticky;
            top: 0;
            color: #fff;
            background: #00bcd4;
        }
    </style>
}
}

<div class="page-wrapper" style="margin-top: 72px;">
    <!-- Page Content-->
    <div class="page-content">
        <!-- Page-Title -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="page-title-box">
                    <div class="row">


                    </div>
                    <!--end row-->
                </div>
                <!--end page-title-box-->
            </div>
            <!--end col-->
        </div>

        <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11" id="Ledger" style="margin: auto;">
                <div class="card">
                    <div class="card-header" style="background-color:#eb2c2e70;">
                        <h4 class="card-title" style="color:black">Trial Balance</h4>

                    </div>
                    <!--end card-header-->
                    <div class="card-body">

                        <div class="col-lg-12 col-md-12 col-sm-12" style="margin:auto;">
                            <div class="card">
                                <div class="card-body" style="padding: 0;">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6">

                                            <div class="btn btn-info">Date Range  : @Model.DateFrom.ToString("dd-MM-yyyy")  to   @Model.DateTo.ToString("dd-MM-yyyy")</div>


                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div style="float:right;padding:2px 2px 2px 2px">

                                                <a href="javascript:void(0);" class="btn btn-dark" onclick="history.go(-1);"><i class="fa fa-arrow-left"></i></a>

                                            </div>
                                            <div style="float:right;padding:2px 2px 2px 2px">

                                                @using (Html.BeginForm("ExportExcel", "ReportExport", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="GridHtml1" />
                                                    <button type="submit" class="btn btn-success" id="btnSubmit1"><i class="fa fa-file-excel"></i></button>

                                                }

                                            </div>
                                            <div style="float:right;padding:2px 2px 2px 2px">

                                                @using (Html.BeginForm("ExportWord", "ReportExport", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="GridHtml2" />
                                                    <button type="submit" class="btn btn-info" id="btnSubmit2"><i class="fa fa-file-word"></i></button>

                                                }
                                            </div>
                                            <div style="float:right;padding:2px 2px 2px 2px">

                                                @using (Html.BeginForm("ExportPdf", "ReportExport", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="GridHtml3" />
                                                    <button type="submit" class="btn btn-danger" id="btnSubmit3"><i class="fa fa-file-pdf"></i></button>

                                                }
                                            </div>
                                            <div style="float:right;padding:2px 2px 2px 2px">

                                                @using (Html.BeginForm("SendEmail", "ReportExport", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="GridHtml4" />
                                                    <button type="submit" class="btn btn-orange" id="btnSubmit4"><i class="fa fa-envelope"></i></button>

                                                }
                                            </div>
                                        </div>
                                    </div>

                                    @if (Model.dsOut.Tables.Count > 0)
                                    {
                                        <div class="table-responsive browser_users" id="ExportedGrid">
                                            <div class="analytic-dash-activity" data-simplebar>
                                                <div class="activity">
                                                    <table class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                                        <thead>
                                                            <tr>

                                                                <th style="border: 1px solid ;background-color:#6594d7;color:white; font-size: 12px;font-weight: bold;text-align:center;">CLIENT CODE</th>
                                                                <th style="border: 1px solid ;background-color:#6594d7;color:white; font-size: 12px;font-weight: bold;text-align:center;">CLIENT NAME</th>
                                                                <th style="border: 1px solid ;background-color:#6594d7;color:white; font-size: 12px;font-weight: bold; text-align:center;">DEBITOP</th>
                                                                <th style="border: 1px solid ;background-color:#6594d7;color:white; font-size: 12px;font-weight: bold;text-align:center;">CREDITOP</th>
                                                                <th style="border: 1px solid ;background-color:#6594d7;color:white; font-size: 12px;font-weight: bold;text-align:center;">DEBIT</th>
                                                                <th style="border: 1px solid ;background-color:#6594d7;color:white; font-size: 12px;font-weight: bold;text-align:center;">CREDIT</th>
                                                                <th style="border: 1px solid ;background-color:#6594d7;color:white; font-size: 12px;font-weight: bold;text-align:center;">NET DEBIT</th>
                                                                <th style="border: 1px solid ;background-color:#6594d7;color:white; font-size: 12px;font-weight: bold;text-align:center;">NET CREDIT</th>


                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (DataRow dr in Model.dsOut.Tables[0].Rows)
                                                            {
                                                                <tr>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[0]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[1]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[5]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[6]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[7]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[8]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[9]</td>
                                                                    <td style="border: 1px solid  #d3d3d3;font-size: 12px">@dr.ItemArray[10]</td>
                                                                </tr>
                                                            }

                                                            @*@{
                                                            <tr style="background-color: antiquewhite;">
                                                                <td style="text-align: center;font-size: 13px;border: 1px solid  #d3d3d3;"><strong>TOTAL</strong></td>
                                                                <td style="text-align: center;font-size: 13px;border: 1px solid  #d3d3d3;"></td>
                                                                <td style="text-align: center;font-size: 13px;border: 1px solid  #d3d3d3;"><strong>@Model.dsOut.Tables[0].Compute("Sum(DEBITOP)", "").ToString()</strong></td>
                                                                <td style="text-align: center;font-size: 13px;border: 1px solid  #d3d3d3;"><strong>@Model.dsOut.Tables[0].Compute("Sum(CREDITOP)", "").ToString()</strong></td>
                                                                <td style="text-align: center;font-size: 13px;border: 1px solid  #d3d3d3;"><strong>@Model.dsOut.Tables[0].Compute("Sum(DEBIT)", "").ToString()</strong></td>
                                                                <td style="text-align: center;font-size: 13px;border: 1px solid  #d3d3d3;"><strong>@Model.dsOut.Tables[0].Compute("Sum(CREDIT)", "").ToString()</strong></td>
                                                                <td style="text-align: left;font-size: 13px;border: 1px solid  #d3d3d3;"><strong>@Model.dsOut.Tables[0].Compute("Sum(NETDEBIT)", "").ToString()</strong></td>
                                                                <td style="text-align: left;font-size: 13px;border: 1px solid  #d3d3d3;"><strong>@Model.dsOut.Tables[0].Compute("Sum(NETCREDIT)", "").ToString()</strong></td>
                                                            </tr>
                                                        }*@

                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    }
                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>
    </div>
</div>





