
<div class="page-wrapper">
    <!-- Page Content-->
    <div class="page-content">
        <!-- Page-Title -->

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" id="Ledger">
                <div class="card">
                    <!--end card-header-->
                    <div class="card-body">

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12" style="margin: auto;">

                                <div class="card" id="ExportedGrid">
                                    <div class="card-body" style="padding: 0;">
                                        <div class="box-body" style="background-color: white;">
                                            <div class="table-responsive table-box" style="height:100%">
                                                <table class="table table-bordered table-responsive" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">Actual Code</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">PDATE</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">SEG_IND</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">SETT_TYPE</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">CMCODE</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">MEMTYPE</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">TMCODE</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">ACTYPE</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">CLIENTCD</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">INSTRUMENT_TYPE</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">SYMBOL</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">EXPIRY_DATE</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">STRIKE_PRICE</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">OPTIONTYPE</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">CALEVEL</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">BF BUY QTY</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">BFLONGVAL</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">BFSHORTQTY</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">BFSHORTVAL</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">BOPEN_QTY</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">BOPEN_VAL</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">SOPEN_QTY</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">SOPEN_VAL</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">PREEXAS_LONGQTY</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">PREEXAS_LONGVAL</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">PREEXAS_SHORTQTY</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">PREEXAS_SHORTVAL</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">EXQTY</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">ASQTY</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">POSTEXAS_LONGQTY</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">POSTEXAS_LONGVAL</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">POSTEXAS_SHORTQTY</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">POSTEXAS_SHORTVAL</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">SETTPRICE</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">NETPREM</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">MTMSETT_VAL</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">FUTFINSETT_VAL</th>
                                                            <th class="table-header" style="background-color: #2b6f97; color: white; text-align:center; vertical-align: top;">OPT EXPIRY VALUE</th>


                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{

                                                            foreach (Rising.WebRise.Models.ImportFileOutputRow rw in Model.lstImportFileOutputRow)
                                                            {


                                                                <tr>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.Actual_Code</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.POSITIONDATE.ToShortDateString()</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.SEGMENT_INDICATOR</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.SETTLEMENT_TYPE</td>
                                                                    <td class="td-font" style="text-align: right;font-size:12px;border: 1px solid  #6497b5;">@rw.CLEARING_MEMBER_CODE</td>
                                                                    <td class="td-font" style="text-align: right;font-size:12px;border: 1px solid  #6497b5;">@rw.MEMBER_TYPE</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.TRADING_MEMBER_CODE</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.ACCOUNT_TYPE</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.CLIENT_ACCOUNTCODE</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.INSTRUMENT_TYPE</td>
                                                                    <td class="td-font" style="text-align: right;font-size:12px;border: 1px solid  #6497b5;">@rw.SYMBOL</td>
                                                                    <td class="td-font" style="text-align: right;font-size:12px;border: 1px solid  #6497b5;">@rw.EXPIRY_DATE.ToShortDateString()</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.STRIKE_PRICE</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.OPTION_TYPE</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.CA_LEVEL</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.BROUGHT_FORWARD_LONG_QUANTITY</td>
                                                                    <td class="td-font" style="text-align: right;font-size:12px;border: 1px solid  #6497b5;">@rw.BROUGHT_FORWARD_LONG_VALUE</td>
                                                                    <td class="td-font" style="text-align: right;font-size:12px;border: 1px solid  #6497b5;">@rw.BROUGHT_FORWARD_SHORT_QUANTITY</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.BROUGHT_FORWARD_SHORT_VALUE</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.DAY_BUY_OPEN_QUANTITY</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.DAY_BUY_OPEN_VALUE</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.DAY_SELL_OPEN_QUANTITY</td>
                                                                    <td class="td-font" style="text-align: right;font-size:12px;border: 1px solid  #6497b5;">@rw.DAY_SELL_OPEN_VALUE</td>
                                                                    <td class="td-font" style="text-align: right;font-size:12px;border: 1px solid  #6497b5;">@rw.PRE_EXASSGN_LONG_QUANTITY</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.PRE_EXASSGN_LONG_VALUE</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.PRE_EXASSGN_SHORT_QUANTITY</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.PRE_EXASSGN_SHORT_VALUE</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.EXERCISED_QUANTITY</td>
                                                                    <td class="td-font" style="text-align: right;font-size:12px;border: 1px solid  #6497b5;">@rw.ASSIGNED_QUANTITY</td>
                                                                    <td class="td-font" style="text-align: right;font-size:12px;border: 1px solid  #6497b5;">@rw.POST_EXASSGN_LONG_QUANTITY</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.POST_EXASSGN_LONG_VALUE</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.POST_EXASSGN_SHORT_QUANTITY</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.POST_EXASSGN_SHORT_VALUE</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.SETTLEMENT_PRICE</td>
                                                                    <td class="td-font" style="text-align: right;font-size:12px;border: 1px solid  #6497b5;">@rw.NET_PREMIUM</td>
                                                                    <td class="td-font" style="text-align: right;font-size:12px;border: 1px solid  #6497b5;">@rw.DAILY_MTM_SETTLEMENT_VALUE</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.FUTURES_FINAL_SETTLEMENT_VALUE</td>
                                                                    <td class="td-font" style="text-align: center;font-size:12px;border: 1px solid  #6497b5;">@rw.EXERCISEDASSIGNED_VALUE</td>


                                                                </tr>
                                                            }
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
