@using Rising.WebRise.Models
@model OptionBillPosting
@{
    ViewBag.Title = "ExpiryBillPosting";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="row">

    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">EXPIRY BILL POSTING</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="new-user-info">

                    <!--end card-header-->
                    @using (Html.BeginForm("ExpiryBillPosting", "Process", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-3 col-12">
                                @Html.LabelFor(m => m.Exchange, new { @class = "form-label" })
                                @Html.DropDownListFor(m => m.Exchange, new SelectList(new[] { "NSE", "INX" }), new { @class = "form-control" })
                            </div>
                            <div class="col-md-3 col-12">
                                @Html.LabelFor(m => m.SessionId, new { @class = "form-label" })
                                @Html.DropDownListFor(m => m.SessionId, new SelectList(new[] { "1", "2" }), new { @class = "form-control" })
                            </div>
                            <div class="col-md-3 col-12">
                                @Html.LabelFor(m => m.ExpiryDate, new { @class = "form-label" })
                                @Html.TextBoxFor(m => m.ExpiryDate, null, new { @Value = Model.ExpiryDate.ToString("yyyy-MM-dd"), @class = "form-control", @id = "date-end", @type = "date" })
                            </div>
                            <div class="col-md-3 col-12">
                                @Html.LabelFor(m => m.PostingDate, new { @class = "form-label" })
                                @Html.TextBoxFor(m => m.PostingDate, null, new { @Value = Model.PostingDate.ToString("yyyy-MM-dd"), @class = "form-control", @id = "date-end", @type = "date" })
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-3 col-12">
                                @Html.LabelFor(m => m.SelectiveClient, new { @class = "form-label" })
                                @Html.TextBoxFor(m => m.SelectiveClient, null, new { @class = "form-control", @id = "scode" })
                            </div>
                            <div class="col-md-3 col-12">
                                <label class="form-label" style="margin-top: 48px;"></label>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ClientCodeFrom"><i class="ri-search-fill pr-0"></i></button>
                            </div>
                        </div>

                        <div class="box-footer" style="margin-top: 15px;">
                            <input type="submit" value="View" class="btn btn-success pull-right" />
                            <a href="javascript:void(0);" class="btn btn-danger" onclick="history.go(-1);">Back</a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

